/* main区域的样式 */
#main {
    display: grid;
    grid-template-columns: 2fr 300px;
    gap: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* main左侧区域的样式 */
#main-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* main左侧新闻、右侧和右侧通知的样式 */
#main-left-news,
#main-right,
#main-right-notice>div:nth-child(3) {
    display: grid;
}

#main-left-news {
    display: grid;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-left-news a {
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

#main-left-news a:hover {
    background-color: #f1f1f1;
    color: #834B41;
}

#main-left-banner {
    position: relative;
    overflow: hidden;
    height: 300px; 
}

#main-left-banner img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

#main-left-banner img.active {
    transform: translateX(0);
}

#main-left-banner img.next {
    transform: translateX(100%);
}

#main-left-banner img.prev {
    transform: translateX(-100%);
}

#main-left-banner img {
    max-width: 100%;
    height: auto;
}

/* main左侧医生区域的样式 */
#main-left-doctors {
    grid-column: span 2;
}

/* 医生列表的样式 */
#doc-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* 医生列表每个医生的样式 */
#doc-list>div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 医生图片的样式 */
#doc-list img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* 医生名字的样式 */
#doc-list h1 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

/* 医生科室的样式 */
#doc-list h2 {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

/* 医生职称的样式 */
#doc-list h3 {
    font-size: 14px;
    color: #999;
    margin: 5px 0;
}

/* 医生操作链接的样式 */
#doc-list span {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* 医生操作链接的样式 */
#doc-list a {
    color: #834B41;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* 医生操作链接悬停时的样式 */
#doc-list a:hover {
    /* background-color: #834B41; */
    color: #D58D38;
}

/* main左侧链接区域的样式 */
.main-left-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

/* main左侧链接区域每个链接的样式 */
.main-left-link a:nth-child(1) {
    grid-column: span 1;
    color: #01753F;
    font-weight: bold;
}

.main-left-link a:nth-child(2) {
    grid-column: span 1;
    text-align: right;
    color: #834B41;
}

/* main左侧链接区域每个链接的样式 */
.main-left-link a:nth-child(n+3) {
    grid-column: span 2;
    padding: 5px 0;
}

/* main左侧链接区域悬停时的样式 */
.main-left-link a:hover {
    color: #D58D38;
}

#news-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#news-nav a {
    font-size: 18px;
    font-weight: bold;
    color: #834B41;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

#news-nav a:hover {
    background-color: #f1f1f1;
    color: #D58D38;
}

#main-right {
    gap: 20px;
}

#main-right-mail,
#main-right-notice {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* main右侧通知区域的样式 */
#main-right-notice {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}

/* main右侧通知区域链接的样式 */
#main-right-notice>a {
    grid-row: 1 / 2;
    color: #834B41;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
}

/* main右侧通知区域第二个div的样式 */
#main-right-notice>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-row: 2 / 3;
    margin-top: 10px;
}

/* main右侧通知区域第三个div的样式 */
#main-right-notice>div:nth-child(3) {
    margin-top: 10px;
}

/* main右侧通知区域链接悬停时的样式 */
#main-right-notice a:hover {
    color: #DD9A4A;
}

/* main右侧邮件区域文字的样式 */
#main-right-mail p {
    color: #834B41;
    font-size: 18px;
    margin-bottom: 10px;
}

/* main右侧邮件区域链接的样式 */
#main-right-mail a {
    color: #834B41;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #834B41;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* main右侧邮件区域链接悬停时的样式 */
#main-right-mail a:hover {
    background-color: #834B41;
    color: white;
}

/* section区域的样式 */
.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* section标题的样式 */
.section h2 {
    font-size: 20px;
    color: #834B41;
    margin-bottom: 10px;
}

/* section链接的样式 */
.section a {
    display: block;
    color: #666;
    margin-bottom: 5px;
    text-decoration: none;
    transition: color 0.3s;
}

/* section链接悬停时的样式 */
.section a:hover {
    color: #834B41;
}

/* section更多链接的样式 */
.section .more-link {
    text-align: right;
    margin-top: 10px;
}

/* section更多链接的样式 */
.section .more-link a {
    color: #834B41;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #834B41;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* section更多链接悬停时的样式 */
.section .more-link a:hover {
    background-color: #834B41;
    color: white;
}

/* main右侧广告区域的样式 */
#main-right-ads img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* main右侧广告区域标题的样式 */
#main-right-ads div {
    font-size: 18px;
    color: #834B41;
    margin-bottom: 10px;
}
