body {
    display: grid;
    grid-template-rows: 120px auto 390px auto 194px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#main {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

#header-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav {
    display: flex;
    background-color: #006400;
}

#nav>div {
    position: relative;
    flex: 1;
}

#nav>div>a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

#nav>div:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown>a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-align: center;
}

.dropdown>a:hover {
    background-color: #f1f1f1;
}

#nav>div>a:hover {
    background-color: #DD9A4A;
    color: #000;
}

#footer {
    display: grid;
    width: 100%;
    background-color: #01753f;
    color: #a4c2b1;
    margin-top: 20px;
}

#footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}